<settings>


    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.Secs" title="@Strings.UseSecs">
        <settingConfig type="Boolean" />
    </setting>

</settings>
