<settings>

    <setting propertyKey="@Properties.setgoal" title="@Strings.settitle">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.settitle" title="@Strings.settitle2">
        <settingConfig type="Boolean" />
    </setting>

    <setting propertyKey="@Properties.settitle2" title="@Strings.settitle3">
        <settingConfig type="Boolean" />
    </setting>
</settings>
